<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pushAppGuid</key>
    <string>707e80c6-935b-4d8e-9542-cef9762ffa31</string>
    <key>pushClientSecret</key>
    <string>69c62c71-5dd6-48fb-b5a4-48593616ab7b</string>
    <key>appName</key>
    <string>HybridBanking</string></dict>
</plist>
